<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styles.css">
    <title>Kevin Castel</title>
</head>

<body>
    <header>
        <div id="parent-container">
            <div>
                <h1>Bienvenue sur le portfolio de Kevin Castel</h1>
            </div>
            <div>
                <h2>En recherche d'un poste de travail back-end</h2>
            </div>
        </div>
    </header>
    <main>
        <div id="main-container">
            <section id="information-id">
                <div id="title-information-container">
                    <h3>Développeur Fullstack chez Zone 01-Normandie<br>En recherche d'alternance</h3>
                </div>
                <div id="sub-information-container">
                    <div id="location-container">
                        <p>21ans, Bernay (Eure, Normandie), 27300</p>
                    </div>
                    <div id="biography-container">
                        <p>Actuellement en formation depuis une demi-année pour
                            construire une carrière dans le développement informatique.
                            Je suis passionné par le défi technologique ainsi que par la
                            résolution des problèmes. Déterminé à acquérir des compétences
                            approfondies pour contribuer et m'investir dans des projets innovants.</p>
                    </div>
                    <div id="mail-container">
                        <a class="mail" href="mailto:keviniicastel@gmail.com">Contacter moi à mon mail</a>
                    </div>
                    <div id="horizonal-separator-container">
                        <hr id="horizontal-separator">
                    </div>
                    <div id="title-contact-container">
                        <h3>Liens Utile</h3>
                    </div>
                    <div id="grid-container">
                        <div class="tile_social_network tile_social_network0">
                            <a class="btn-logo linkedin" href="https://www.linkedin.com/in/keviniicastel/">
                                <img class="img-technos" src="../media/social-network/linkedin.png" alt="linkedin-logo">
                            </a>
                        </div>
                        <div class="tile_social_network tile_social_network1">
                            <a class="btn-logo github" href="https://github.com/KevinCastel">
                                <img class="img-technos" src="../media/social-network/github.png" alt="linkedin-logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tools-used-container">
                    <hr>
                    <div id="tools-used-title-container">
                        <h3>Outils les mieux maîtrisées</h3>
                    </div>
                    <div class="tools-title-type">
                        <h4>Technologies</h4>
                    </div>
                    <div id="technologies-container">
                        <div id="grid-container-technologies">
                            <div class="tile title0">
                                <div class="tile-title">
                                    <h4>Golang</h4>
                                </div>
                                <div class="tile-image">
                                    <img class="img-technos golang-logo" src="../media/technos/Golang.png"
                                        alt="golang logo">
                                </div>
                            </div>
                            <div class="tile tile2">
                                <div class="tile-title">
                                    <h4>Python</h4>
                                </div>
                                <div class="tile-image">
                                    <img class="img-technos python-logo" src="../media/technos/python.png"
                                        alt="python logo">
                                </div>
                            </div>
                            <div class="tile tile3">
                                <div class="tile-title">
                                    <h4>Godot Engine</h4>
                                </div>
                                <div class="tile-image">
                                    <img class="img-technos godot-logo" src="../media/game-engine/godot-engine.png"
                                        alt="godot engine">
                                </div>
                            </div>
                            <div class="tile tile4">
                                <div class="tile-title">
                                    <h4>C#</h4>
                                </div>
                                <div class="tile-image">
                                    <img class="img-technos csharp-logo" src="../media/technos/csharp.png"
                                        alt="csharp.net">
                                </div>
                            </div>
                            <div class="tile tile9">
                                <div class="tile-title">
                                    <h4>Rust</h4>
                                </div>
                                <div class="tile-image">
                                    <img class="imgs-technos rust-logo" src="../media/technos/rust.png" alt="./rust">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tools-title-type">
                        <h4>Technologies web</h4>
                    </div>
                    <div class="grid-container-technologies-web">
                        <div class="tile">
                            <div class="tile-title">
                                <h4>HTML</h4>
                            </div>
                            <div class="title-image">
                                <img class="img html-techno-logo" alt="html" src="../media/technos/web/html-5.svg" />
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-title">
                                <h4>CSS</h4>
                            </div>
                            <div class="title-image">
                                <img class="img css-techno-logo" alt="css" src="../media/technos/web/css.png" />
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-title">
                                <h4>Javascript</h4>
                            </div>
                            <div class="title-image">
                                <img class="img js-techno-logo" alt="javascript"
                                    src="../media/technos/Javascript.png" />
                            </div>
                        </div>
                    </div>
                    <div class="tools-title-type">
                        <h4>Environnements</h4>
                    </div>
                    <div class="grid-container-environnement">
                        <div class="tile">
                            <div class="tile-title">
                                <h4>Linux</h4>
                            </div>
                            <div class="tile-image">
                                <img class="img window-environnement-logo" alt="linux" src="../media/environnement/win10.png" />
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-title">
                                <h4>Windows</h4>
                            </div>
                            <div class="tile-image">
                                <img class="img ubuntu-environnement-logo" alt="windows" src="../media/environnement/ubuntu.svg" />
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-title">
                                <h4>Docker</h4>
                            </div>
                            <div class="tile-image">
                                <img class="img docker-environnement-logo" alt="docker" src="../media/environnement/docker.png"/>
                            </div>
                        </div>
                    </div>
                    <div class="tools-tile-type">
                        <h4>Données et versioning</h4>
                    </div>
                    <div class="grid-container-datas-and-versionning">
                        <div class="tile">
                            <div class="tile-title">
                                <h4>Git</h4>
                            </div>
                            <div class="tile-image">
                                <img class="git-image" alt="git" src="../media/verisonning/git.png"/>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-title">
                                <h4>Sqlite</h4>
                            </div>
                            <div class="tile-image">
                                <img class="sqlite-logo" alt="sqlite" src="../media/bdd/Sqlite.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="second-section">
                <div id="cv">
                    <div class="curriculum-vitae">
                        <iframe src="/media/document/CurrilumVitae.pdf" title="curriculum-vitae"></iframe>
                    </div>
                </div>
                <div id="projects">
                    <div id="projects-title">
                        <h3>Projets</h3>
                    </div>
                    <div id="project-card-title">
                        <div id="projects-container">
                            <div class="project_card project_border">
                                <div class="project-intro">
                                    <div class="project-title">
                                        <h4>PinkyBall</h4>
                                    </div>
                                    <div class="project-link-container">
                                        <a href="https://invitation.itch.io/pinkyball">Accéder à Pinkyball</a>
                                    </div>
                                </div>
                                <div class="project-description">
                                    <div id="separator">
                                        <hr>
                                    </div>
                                    <p>Ce projet personnel est un <strong>jeux-vidéo</strong> développé avec
                                        <strong>Godot Engine</strong>
                                        (<strong>GDScript</strong>).
                                    </p>
                                    <br>
                                    <p>En progression, <u>ce projet m'apporte une croissance dans
                                            mon autonomie.</u>
                                    </p>
                                </div>
                            </div>
                            <div class="project_card project_border">
                                <div class="project-intro">
                                    <div class="project-title">
                                        <h4>Forum - Golang</h4>
                                    </div>
                                    <div class="project-link-container">
                                        <a href="https://invitation.itch.io/pinkyball">Accéder à Pinkyball</a>
                                    </div>
                                </div>
                                <div class="project-description">
                                    <p>Ce projet de Zone01 est un <strong>forum</strong> développé en <strong>Golang,
                                            HTML&CSS(pure), Sqlite</strong>
                                    </p>
                                    <br>
                                    <p>Terminer, <u>ce projet m'a permis d'améliorer mes méthodes de collaborations dans
                                            une équipe ainsi qu'à améliorer mes compétences de back-end</u></p>
                                </div>
                            </div>
                            <div class="project_card card_border">
                                <div class="project-intro">
                                    <div class="project-title">
                                        <h4>Learning Deutsch Again</h4>
                                    </div>
                                    <div class="project-link-container">
                                        <a href="">Accéder à LDA</a>
                                    </div>
                                </div>
                                <div class="project-description">
                                    <div id="separator">
                                        <hr>
                                    </div>
                                    <p>Ce projet personnel est une <strong>application d'apprentissage</strong>
                                        développé en <strong>C# (.net)</strong>
                                    </p>
                                    <br>
                                    <p>En pause, <u>ce projet m'a appris à m'adapter aux attentes utilisateurs.</u></p>
                                </div>
                            </div>
                            <div class="project_card card_border">
                                <div class="project-intro">
                                    <div class="project-title">
                                        <h4>Space Intruder</h4>
                                    </div>
                                    <div class="project-link-container">
                                        <a href="https://gluck777.itch.io/space-intruders">Accéder à ce projet</a>
                                    </div>
                                </div>
                                <div class="project-description">
                                    <div id="separator">
                                        <hr>
                                    </div>
                                    <p>Ce projet Zone01 est une <strong>application de continuité
                                            d'apprentissage</strong>
                                        développé en <strong>Javscript pure et HTML/CSS</strong>
                                    </p>
                                    <br>
                                    <p>Terminer</p>
                                </div>
                            </div>
                            <!-- <div class="project_card card_border">
                                <div class="project-intro">
                                    <div class="project-title">
                                        <h3>Social-Network</h3>
                                    </div>
                                    <div class="project-link-container">
                                        <a href="">Accéder à ce projet</a>
                                    </div>
                                </div>
                                <div class="project-description">
                                    <div id="separator">
                                        <hr>
                                    </div>
                                    <p>Ce projet Zone01 est une <strong>application de continuité
                                            d'apprentissage</strong>
                                        développé en <strong>NextJS</strong>
                                    </p>
                                    <br>
                                    <p>En pause, <u>ce projet m'a appris à m'adapter aux attentes utilisateurs.</u></p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!--Me contacter ma mail => footer-->
</body>

</html>