/*
Here is the colours palette
    ~~text (blue-green) : #3BBA9C~~ -> 
    ~~header (darkest gray) : #2E3047~~
    ~~button (medium blue-gray) : #43455C~~
    ~~body background (darkest blue-gray) : #3C3F58~~
    ~~button-text (lightest blue-gray) : #707793~~
*/

:root {
    /*new*/
    --background-header: #2A2A2E;
    --background-body: #38383D;

    --title-color: rgb(181, 181, 181);
    --legend-color: rgb(134, 134, 134);
    --paragraph-color: rgb(163 163 163);



    /*new not used anymore*/
    /* --background-body: #38383D; */
    /* --background-header: #2A2A2E; */
    /* --color-title: #022859;
    --color-paragraph: #E0E0E2; */

    /*old*/
    --bg-by: #3C3F58;
    --bg-hdr: #2E3047;
    --bg-btn: #43455C;
    --text-btn: #707793;
    --text: #3BBA9C;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-body);
}

header {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-header);
}

header h1 {
    color: white;
}

header h2 {
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#parent-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#information-id {
    /* background-color: aqua; */
    background-color: var(---background-body);
    display: flex;
    flex-direction: column;
    padding: 10px;
}


#title-information-container,
#location-container {
    width: 100%;
    text-align: center;
}

#location-container p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--legend-color);
}

#title-information-container {
    padding: 20px 0;
}

#title-information-container h3 {
    font-family: 'Halvatica', Arial, 'Lucida Sans';
    /* color: rgb(181 181 181); */
    color: var(--title-color);
}

#location-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

#biography-container {
    margin-top: 20px;
    line-height: 22px;
    font-size: 1.1rem;
}

#biography-container p {
    /* color: rgb(134,134,134); */
    color: var(--paragraph-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mail-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

#title-contact-container h3 {
    color: var(--title-color);
    font-family: 'Halvatica', Arial, 'Lucida Sans';
}

#title-contact-container {
    margin-top: 4px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

#sub-information-container {
    /* height: 60%; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

#link-container {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: purple;
}

.icns-container {
    height: 100%;
    width: 100%;
}

#icns-container-first {
    background-color: red;
}

.tile_social_network {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tile_social_network a {
    height: 100%;
    width: 100%;
    display: flex;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* .tile3{
    height: 100%;
    background-color: red;
} */

.project-skills{
    height: 100%;
    width: 100%;
}

.project-skills div{
    width: 100%;
    padding-left: 10px;
}

.project-skills div li {
    padding-top: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.project-skills-title h4{
    font-size: 1.2rem;
    /* color: red; */

}


.tile h4 {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.tile-title {
    /* height: 40%; */
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--legend-color);
}

.tile-image {
    /* height: 30%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-skills{
    height: 100%;
}


.btn-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cv {
    background-image: url(./media/cv.png);
}

.icn-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.icn-container,
.legend-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tools-used-container {
    height: auto;
    width: 100%;
    padding-top: 30px;
}

#grid-container-technologies {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#technologies-container {
    width: 100%;
}

.grid-container-technologies-web {
    width: 100%;
    /* padding-top : 0px; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

img {
    width: 100px;
}

.golang-logo {
    height: 30px;
    width: 60px;
}

.js-logo {
    height: 64px;
    width: 64px;
}

.python-logo {
    height: 80px;
    width: 80px;
}

.godot-logo {
    height: 40px;
    width: 80px
}

.csharp-logo {
    height: 50px;
    width: 50px;
}

.rust-logo {
    height: 50px;
    width: 50px;
}

.ubuntu-logo {
    height: 70px;
    width: 70px;
}

#cv {
    min-height: 680px;
    height: 100%;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects {
    height: 100%;
    width: 100%;
    background-color: var(---background-body);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curriculum-vitae {
    height: 100%;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
}

#projects {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#projects-title {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-title h3 {
    text-align: center;
    color: var(--title-color);
    /* padding-top: 2%; */
}

.tools-title-type {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
}

.tools-title-type h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--paragraph-color);
}

.project-title {
    width: 80%;
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.project-title h4 {
    color: var(--title-color);
    font-family: 'Halvatica', Arial, 'Lucida Sans';
    font-size: 1.4rem;
}

.project-image-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image-container a {
    color: red;
}

.forum-golang-technos {
    height: 30px;
    width: 60px;
}

.learning-deutsch-again-techno-used {
    height: 46px;
    width: 46px;
}

.pinkyball-logo {
    height: 60px;
    width: 60px;
    image-resolution: 1000dpi;
}

.space-intruder {
    height: 43px;
    width: 43px;
    image-resolution: 10000dpi;
    border-radius: 10px;
}

.space-intruder-img-technos {
    height: 40px;
    width: 40px;
}


.project-techno-used {
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
}

.intro-project-horizontal-container {
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.project-description-without-logo{
    height: 60%;
}

.project-description-without-logo p {
    /* color: var(--title-color);
    font-family: 'Halvatica', Arial, 'Lucida Sans';
    font-size: 1.4rem; */
    color: #707793;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.94rem;
}

#projects-container {
    height: 55%;
    width: 90%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    scrollbar-color: var(--title-color) var(--text-btn);
    border: 1mm solid var(--text-btn);
}

.project-description p {
    color: #707793;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.94rem;
}


.techno-used-project {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#tools-used-title-container {
    /* padding-top: 10%; */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tools-used-title-container h3 {
    color: var(--title-color);
    font-family: 'Halvatica', Arial, 'Lucida Sans';
}

.html-techno-logo {
    height: 40px;
    width: 40px;
}

.css-techno-logo {
    height: 40px;
    width: 40px;
}

.js-techno-logo {
    height: 40px;
    width: 40px;
}

#project-card-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: var(---background-body);
}

.project_card {
    width: 66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: #022859; */
    background-color: #333333;
    max-width: 400px;
    /*
    TODO décaler un peu à gauche pour les cartes en position
    TODO 1 et 3
    */
}

/* .card_padding{
    padding: 16px;
} */



.card_border_right{
    width: 10px;
    height: 100%;
}

.grid-container-environnement {
    display: grid;
    height: 16%;
    width: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.window-environnement-logo {
    height: 40px;
    width: 40px;
}

.ubuntu-environnement-logo {
    height: 50px;
    width: 50px;
}

.docker-environnement-logo {
    height: 70px;
    width: 70px;
}

.grid-container-datas-and-versionning {
    height: 14%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(1, 2fr);
}

.sqlite-logo {
    height: 50px;
    width: 50px;
}

/* .project-card h2 {
    color: chartreuse;
} */

.git-image {
    height: 50px;
    width: 50px;
}

.project-intro-with-logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-intro-without-logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.project-link-container-without-logo {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-link-container-without-logo a {
    color: var(--legend-color);
    font-family: Arial, Helvetica, sans-serif;
}


.project-title-without-logo {
    height: 87%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 24px; */
}

.project-title-without-logo h4 {
    color: var(--title-color);
    font-family: 'Halvatica', Arial, 'Lucida Sans';
    font-size: 1.4rem;
}

.project-description {
    width: 100%;
    height: 60%;
    /* margin-top: 3%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}


.project-link-container a {
    color: var(--legend-color);
    font-family: Arial, Helvetica, sans-serif;
}

.project-link-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.project-link hr {
    height: 10px;
    width: 100%;
    background: yellow;
}

/* #separator {
    display: flex;
    justify-content: center;
    align-content: center;
} */